* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
.con {
  display: flex;
  overflow: auto;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #ffa5a5;
  color: #000000;
  min-height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 20px;
}
.bars {
  display: flex;
  font-size: 20px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #000000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
  text-decoration: none;
}
.add_product {
  margin-left: 10px;
  margin-bottom: 20px;
}
.add_button {
  margin-bottom: 10px;
}
